<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


	<context:component-scan base-package="com.gestionInterne.Controller" />
	<context:component-scan base-package="com.gestionInterne.DAO.entity" />

	<bean id="userDAO" class="com.gestionInterne.DAO.implDAO.UserImpl" />

	<bean id="userMetier" class="com.gestionInterne.Service.Impl.UserMetierImpl">
		<property name="userDAO" ref="userDAO" />
	</bean>

	<bean id="userService" class="com.gestionInterne.Controller.UserController">
		<property name="userMetier" ref="userMetier" />
	</bean>

	<bean id="userRoleDAO" class="com.gestionInterne.DAO.implDAO.UserRoleImpl" />

	<bean id="userRoleMetier" class="com.gestionInterne.Service.Impl.UserRoleMetierImpl">
		<property name="userRoleDAO" ref="userRoleDAO" />
	</bean>

	<bean id="userRoleService" class="com.gestionInterne.Controller.UserController">
		<property name="userRoleMetier" ref="userRoleMetier" />
	</bean>

	<bean id="ip" class="com.gestionInterne.DAO.implDAO.ImplProjet" />
	<bean id="it" class="com.gestionInterne.DAO.implDAO.ImplTach" />

	

</beans>